@media(max-width:100rem) {

    .container {
        flex-direction: column;
        padding-bottom: 200px;
        scale: 1.3;
    }

    .qr-code {
        flex-direction: column;
        align-items: center;
        padding: 220px;
    }

    .rectangle-qrc {
        position: relative;
        width: 295px;
        height: 455px;
        background-color: #ffff;
        z-index: -1;
        border-radius: 12px;
        margin-bottom: -48px;
    }
}