@media(max-width:100rem) {

    .container {
        flex-direction: column;
        padding-bottom: 200px;
        scale: 1.3;
    }

    .qr-code {
        flex-direction: column;
        align-items: center;
        padding: 220px;
    }

}