body {
    font-family: "Outfit", sans-serif;
    background-color: #D5E1EF;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    position: absolute;
    display: inline-block;
}

.qr-code {
    scale: 0.7;
    max-height: 260px;
}

.text-high {
    justify-items: center;
}

.text-low {
    max-width: 12rem;
    padding-top: 10px;
    font-size: 11px;
    color: #898585;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.rectangle-qrc {
    position: relative;
    width: 225px;
    height: 345px;
    background-color: #ffff;
    z-index: -1;
    border-radius: 12px;
    margin-bottom: -48px;
}