body {
    font-family: "Outfit", sans-serif;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.qr-code {
    scale: 0.7;
    max-height: 20px;
}

.text-high {
    justify-items: center;
}

.text-low {
    max-width: 12rem;
    padding-top: 10px;
    font-size: 11px;
    color: #898585;
}

.attribution {
    font-size: 11px;
    text-align: center;
}