body {
    font-family: "Outfit", sans-serif;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.qr-code {
    scale: 0.62;
}

.text-high {
    /* padding-top: 20px; */
    justify-items: center;
}

.text-low {
    max-width: 13rem;
    padding-top: 10px;
    font-size: 12px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

